extends ../layouts/base.pug

block content
  h1 About Me
  p Hello! I'm #[strong Bino] from #[a(href="https://adaptis.io/") adaptis]. Thank you for using this boilerplate. If you have any question, just #[a(href="mailto:bino@daptis.io") send me a message].
  a(href="/") Back to Home
